$--color-background: rgba(235, 201, 248, 1);
$--color-front: #333;
$--color-white: #fff;
$--color-black: #000;
$--color-primary: rgba(110, 2, 164, 1);
$--color-success: #67c23a;
$--color-warning:  #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;
$--border-color-base: #dcdfe6;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;
$--border-color-hover: $--color-text-placeholder;
$--background-color-base: #f5f7fa;
$--fill-base: $--color-white;
$--font-color-disabled-base: #bbb;
$--disabled-fill-base: $--background-color-base;
$--disabled-color-base: $--color-text-placeholder;
$--disabled-border-base: $--border-color-light;
$--group-title-color: $--color-black;
$--button-default-font-color: $--color-text-regular;
$--button-default-background-color: $--color-white;
$--button-default-border-color: $--border-color-base;
$--button-disabled-font-color: $--color-text-placeholder;
$--button-disabled-background-color: $--color-white;
$--button-disabled-border-color: $--border-color-lighter;
$--button-primary-border-color: $--color-primary;
$--button-primary-font-color: $--color-white;
$--button-primary-background-color: $--color-primary;
$--button-success-border-color: $--color-success;
$--button-success-font-color: $--color-white;
$--button-success-background-color: $--color-success;
$--button-warning-border-color: $--color-warning;
$--button-warning-font-color: $--color-white;
$--button-warning-background-color: $--color-warning;
$--button-danger-border-color: $--color-danger;
$--button-danger-font-color: $--color-white;
$--button-danger-background-color: $--color-danger;
$--button-info-border-color: $--color-info;
$--button-info-font-color: $--color-white;
$--button-info-background-color: $--color-info;
$--icon-color: #666;
$--icon-color-base: $--color-info;
$--checkbox-color: $--color-text-regular;
$--checkbox-input-fill: $--color-white;
$--checkbox-input-border-color: $--border-color-base;
$--checkbox-icon-color: $--color-white;
$--checkbox-disabled-input-border-color: $--border-color-base;
$--checkbox-disabled-input-fill: #edf2fc;
$--checkbox-disabled-icon-color: $--color-text-placeholder;
$--checkbox-disabled-checked-input-fill: $--border-color-extra-light;
$--checkbox-disabled-checked-input-border-color: $--border-color-base;
$--checkbox-checked-text-color: $--color-primary;
$--checkbox-checked-input-border-color: $--color-primary;
$--checkbox-checked-input-fill: $--color-primary;
$--checkbox-checked-icon-color: $--fill-base;
$--checkbox-input-border-color-hover: $--color-primary;
$--radio-font-color: $--color-text-regular;
$--radio-input-background-color: $--color-white;
$--radio-input-border-color: $--border-color-base;
$--radio-icon-color: $--color-white;
$--radio-disabled-input-border-color: $--disabled-border-base;
$--radio-disabled-input-fill: $--disabled-fill-base;
$--radio-disabled-icon-color: $--disabled-fill-base;
$--radio-disabled-checked-input-border-color: $--disabled-border-base;
$--radio-disabled-checked-input-fill: $--disabled-fill-base;
$--radio-disabled-checked-icon-color: $--color-text-placeholder;
$--radio-checked-font-color: $--color-primary;
$--radio-checked-input-border-color: $--color-primary;
$--radio-checked-input-background-color: $--color-white;
$--radio-checked-icon-color: $--color-primary;
$--radio-input-border-color-hover: $--color-primary;
$--radio-button-checked-background-color: $--color-primary;
$--radio-button-checked-font-color: $--color-white;
$--radio-button-checked-border-color: $--color-primary;
$--radio-button-disabled-checked-fill: $--border-color-extra-light;
$--select-border-color-hover: $--border-color-hover;
$--select-disabled-border: $--disabled-border-base;
$--select-close-hover-color: $--color-text-secondary;
$--select-input-color: $--color-text-placeholder;
$--select-multiple-input-color: #666;
$--select-input-focus-background: $--color-primary;
$--select-option-color: $--color-text-regular;
$--select-option-disabled-color: $--color-text-placeholder;
$--select-option-disabled-background: $--color-white;
$--select-option-hover-background: $--background-color-base;
$--select-option-selected: $--color-primary;
$--select-option-selected-hover: $--background-color-base;
$--select-group-color: $--color-info;
$--select-dropdown-background: $--color-white;
$--select-dropdown-empty-color: #999;
$--input-border-color: $--border-color-base;
$--input-border-color-hover: $--border-color-hover;
$--input-fill: $--color-white;
$--input-fill-disabled: $--disabled-fill-base;
$--input-color-disabled: $--font-color-disabled-base;
$--input-icon-color: $--color-text-placeholder;
$--input-placeholder-color: $--color-text-placeholder;
$--input-hover-border: $--border-color-hover;
$--input-clear-hover-color: $--color-text-secondary;
$--input-focus-border: $--color-primary;
$--input-focus-fill: $--color-white;
$--input-disabled-fill: $--disabled-fill-base;
$--input-disabled-border: $--disabled-border-base;
$--input-disabled-color: $--disabled-color-base;
$--input-disabled-placeholder-color: $--color-text-placeholder;
$--cascader-menu-fill: $--fill-base;
$--cascader-menu-border-color: $--border-color-base;
$--cascader-menu-color: $--color-text-regular;
$--cascader-menu-option-color-active: $--color-text-secondary;
$--cascader-menu-option-color-hover: $--color-text-regular;
$--cascader-menu-option-color-disabled: #999;
$--cascader-menu-option-empty-color: #666;
$--cascader-menu-group-color: #999;
$--cascader-menu-option-pinyin-color: #999;
$--switch-on-color: $--color-primary;
$--switch-off-color: $--border-color-base;
$--switch-disabled-color: $--border-color-lighter;
$--switch-disabled-text-color: $--color-text-placeholder;
$--slider-main-background-color: $--color-primary;
$--slider-runway-background-color: $--border-color-light;
$--slider-stop-background-color: $--color-white;
$--slider-disable-color: $--color-text-placeholder;
$--datepicker-color: $--color-text-regular;
$--datepicker-off-color: $--color-text-placeholder;
$--datepicker-header-color: $--color-text-regular;
$--datepicker-icon-color: $--color-text-primary;
$--datepicker-border-color: $--disabled-border-base;
$--datepicker-inner-border-color: #e4e4e4;
$--datepicker-inrange-color: $--border-color-extra-light;
$--datepicker-inrange-hover-color: $--border-color-extra-light;
$--datepicker-active-color: $--color-primary;
$--datepicker-text-hover-color: $--color-primary;
$--datepicker-cell-hover-color: #fff;
$--rate-icon-color: $--color-text-placeholder;
$--transfer-border-color: $--border-color-lighter;
$--transfer-panel-header-background: $--background-color-base;
$--transfer-item-hover-background: $--color-text-secondary;
$--msgbox-success-color: $--color-success;
$--msgbox-info-color: $--color-info;
$--msgbox-warning-color: $--color-warning;
$--msgbox-danger-color: $--color-danger;
$--message-background-color: #edf2fc;
$--message-content-color: $--color-text-regular;
$--message-close-color: $--color-text-placeholder;
$--message-close-hover-color: $--color-text-secondary;
$--message-success-color: $--color-success;
$--message-info-color: $--color-info;
$--message-warning-color: $--color-warning;
$--message-danger-color: $--color-danger;
$--notification-border-color: $--border-color-lighter;
$--notification-color: $--color-text-regular;
$--notification-title-color: $--color-text-primary;
$--notification-close-color: $--color-text-secondary;
$--notification-close-hover-color: $--color-text-regular;
$--notification-success-color: $--color-success;
$--notification-info-color: $--color-info;
$--notification-warning-color: $--color-warning;
$--notification-danger-color: $--color-danger;
$--tab-header-color-active: $--color-text-secondary;
$--tab-header-color-hover: $--color-text-regular;
$--tab-header-color: $--color-text-regular;
$--tab-vertical-header-count-color: $--color-white;
$--tab-vertical-header-count-fill: $--color-text-secondary;
$--dropdown-menuItem-hover-color: $--color-primary;
$--steps-border-color: $--disabled-border-base;
$--menu-item-color: $--color-text-primary;
$--menu-item-fill: $--color-white;
$--menu-item-hover-fill: color-primary-light-9;
$--collapse-border-color: $--border-color-lighter;
$--collapse-header-fill: $--color-white;
$--collapse-header-color: $--color-text-primary;
$--collapse-content-fill: $--color-white;
$--collapse-content-color: $--color-text-primary;
$--timeline-node-color: $--border-color-light;
$--table-border-color: $--border-color-lighter;
$--table-text-color: $--color-text-regular;
$--table-header-color: $--color-text-secondary;
$--table-row-hover-background: $--background-color-base;
$--table-header-background: $--color-white;
$--table-footer-background: $--color-text-placeholder;
$--tree-node-hover-color: $--background-color-base;
$--tree-text-color: $--color-text-regular;
$--tree-expand-icon-color: $--color-text-placeholder;
$--tag-color: $--color-primary;
$--tag-info-color: $--color-info;
$--tag-primary-color: $--color-primary;
$--tag-success-color: $--color-success;
$--tag-warning-color: $--color-warning;
$--tag-danger-color: $--color-danger;
$--pagination-fill: $--color-white;
$--pagination-color: $--color-text-primary;
$--pagination-button-color: $--color-text-primary;
$--pagination-button-disabled-color: $--color-text-placeholder;
$--pagination-button-disabled-fill: $--color-white;
$--pagination-hover-fill: $--color-primary;
$--pagination-hover-color: $--color-white;
$--badge-fill: $--color-danger;
$--dialog-background-color: $--color-white;
$--dialog-close-hover-color: $--color-primary;
$--popover-fill: $--color-white;
$--popover-border-color: $--border-color-lighter;
$--popover-title-color: $--color-text-primary;
$--tooltip-fill: $--color-text-primary;
$--tooltip-color: $--color-white;
$--tooltip-border-color: $--color-text-primary;
$--card-border-color: $--border-color-lighter;
$--carousel-arrow-background: rgba(31, 45, 61, 0.11);
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
$--carousel-indicator-out-color: $--border-color-hover;
$--msgbox-success-color: $--color-success;
$--msgbox-info-color: $--color-info;
$--msgbox-warning-color: $--color-warning;
$--msgbox-danger-color: $--color-danger;