$--color-background: #fff;
$--color-front: #333;
$--color-white: #fff;
$--color-black: #000;
$--color-primary: #409EFF;
$--color-success: #67c23a;
$--color-warning:  #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;
$--border-color-base: #dcdfe6;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;
$--border-color-hover: $--color-text-placeholder;
$--background-color-base: #f5f7fa;
$--fill-base: $--color-white;
$--font-color-disabled-base: #bbb;
$--disabled-fill-base: $--background-color-base;
$--disabled-color-base: $--color-text-placeholder;
$--disabled-border-base: $--border-color-light;
$--button-default-font-color: $--color-text-regular;
$--button-default-background-color: $--color-white;
$--button-default-border-color: $--border-color-base;
$--button-disabled-font-color: $--color-text-placeholder;
$--button-disabled-background-color: $--color-white;
$--button-disabled-border-color: $--border-color-lighter;
$--button-primary-border-color: $--color-primary;
$--button-primary-font-color: $--color-white;
$--button-primary-background-color: $--color-primary;
$--button-success-border-color: $--color-success;
$--button-success-font-color: $--color-white;
$--button-success-background-color: $--color-success;
$--button-warning-border-color: $--color-warning;
$--button-warning-font-color: $--color-white;
$--button-warning-background-color: $--color-warning;
$--button-danger-border-color: $--color-danger;
$--button-danger-font-color: $--color-white;
$--button-danger-background-color: $--color-danger;
$--button-info-border-color: $--color-info;
$--button-info-font-color: $--color-white;
$--button-info-background-color: $--color-info;
$--icon-color: #666;
$--icon-color-base: $--color-info;
$--checkbox-color: $--color-text-regular;
$--checkbox-input-fill: $--color-white;
$--checkbox-input-border-color: $--border-color-base;
$--checkbox-icon-color: $--color-white;
$--checkbox-disabled-input-border-color: $--border-color-base;
$--checkbox-disabled-input-fill: #edf2fc;
$--checkbox-disabled-icon-color: $--color-text-placeholder;
$--checkbox-disabled-checked-input-fill: $--border-color-extra-light;
$--checkbox-disabled-checked-input-border-color: $--border-color-base;
$--checkbox-checked-text-color: $--color-primary;
$--checkbox-checked-input-border-color: $--color-primary;
$--checkbox-checked-input-fill: $--color-primary;
$--checkbox-checked-icon-color: $--fill-base;
$--checkbox-input-border-color-hover: $--color-primary;