@import "../vars";

.xdh-chart-card {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    white-space: nowrap;
    word-break: break-all;
    font-size: 28px;
    line-height: 38px;
    color: $--color-text-primary;
  }

  &__footer {
    border-top: 1px solid $--border-color-light;
    padding-top: 9px;
    margin-top: 8px;
  }
}
